/* Footer  */

.footerContainer{
    background-color: #B75D69;
    width: 100%;
    height: 20vh;
    display: flex;
    margin-top: 10vh;
}

.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.usefulInfo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usefulInfo p{
    font-size: 1.125em;
    margin-bottom: 0.5vh; 
}
